# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Environments
.venv/
venv/
ENV/
env/

# Operating System Files
.DS_Store
Thumbs.db

# Frontend / Node
node_modules/
.env
.env.local
dist/
build/

# Databases
*.db
